h1{
	font-family: Arial;
	font-weight: bold;
	font-size:25 px;
}

h1,h2{
	text-align: center;
	color: blue;
	

}

h2,h3{
	font-size: 20px;
	text-decoration: underline;
}
p,ul{
	border:solid;
	padding-top: 10 px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: #e6ffe6;
	font-size: 15px;
}

p{
	text-align: justify;
	padding-left: 10px;
}

body{
	background-color: #e0e0d1;
}